@use "colors" as *;
@use "shadows" as *;
body:has(#login) {
	background-color: $color-brand-yellow;
	background-size: cover;
	background-position: center;
}
#login {
	display: flex;
	flex: 1;
	justify-content: space-evenly;
	align-items: center;
	color: $color-fg;
	span {
		margin-bottom: 0.25rem;
	}
	h1 {
		margin-bottom: 3.75rem;
		font-size: 2rem;
		letter-spacing: 10%;
	}
	label {
		margin-bottom: 0.25rem;
	}
	input {
		color: $color-fg;
		background: transparent;
		border: none;
		outline: none;
		box-shadow: none;
		margin-bottom: 2.25rem;
		padding-left: 0.1ch;
	}
	button {
		font-size: 2rem;
		width: 100%;
	}
}
.login-forms {
	display: flex;
	flex-direction: column;
}
#loginForm {
	width: 16.4vw;
}
#signupForm {
	width: 19.5vw;
}
@media (max-width: 80rem) {
	#login {
		h1 {
			font-size: 1.875rem;
		}
		span {
			font-size: 0.75rem;
		}
		button {
			font-size: 1.5625rem;
		}
	}
}
@media (max-width: 56.25rem) {
	#login {
		flex-direction: column;
		gap: 7.1875rem;
	}
	.login-forms {
		width: 25.5vw !important;
	}
	#loginForm {
		margin-top: 6.375rem;
	}
	#signupForm {
		margin-bottom: 8.125rem;
	}
}
@media (max-width: 37.5rem) {
	.login-forms {
		width: 53.6vw !important;
	}
}
