@use "colors" as *;
@use "fonts" as *;
@use "shadows" as *;
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lato", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
html,
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: $color-bg;
}
#app {
	flex: 1;
	display: flex; /* enables child flex behavior */
	flex-direction: column;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
	margin-bottom: 1rem;
	color: $color-fg;
	letter-spacing: 10%;
}
li a {
	font-family: "Caveat";
	letter-spacing: 10%;
}
button {
	color: $color-fg;
	font-family: "Caveat";
	padding: 0.4em 1em;
	background-color: $color-brand-yellow;
	border-radius: 1em;
	box-shadow: $shadow-light;
	border: none;
	transition: box-shadow ease 400ms;
	letter-spacing: 10%;
	&:hover {
		cursor: pointer;
		box-shadow: $shadow-combined;
	}
}
